{% extends 'base.html.twig' %}

{% block title %}Création d'une nouvelle catégorie{% endblock %}

{% block body %}
    <div class="container clearfix">

        <h1>Modifier la catégorie "{{ category.name }}".</h1>

        {{ form_start(catForm) }}

        {{ form_widget(catForm) }}
        <p class="text-right text-danger">NB : Une catégorie ne peut pas être supprimée tant qu'elle possède au moins
            une entrée !</p>

        <button type="submit" class="btn btn-primary adminButton rounded-pill">
            <span class="far fa-edit"></span>
            Modifier la catégorie
        </button>
        <div class="float-right">
            <a href="{{ path('cat_delete', {'id': category.id}) }}" class=" btn btn-danger adminButton rounded-pill"
               onclick="return confirm(`Êtes-vous sûr de vouloir supprimer la catégorie {{ category.name }} ?`)">
                <span class="far fa-trash-alt"></span>
                Supprimer la catégorie
            </a>
        </div>
        {{ form_end(catForm) }}

    </div>
{% endblock %}