{% extends 'base.html.twig' %}

{% block title %}Le projet OnegAI{% endblock %}

{% block body %}
<div class="container">
    <div class="post-title">
        <h1>Le projet OnegAI</h1>
        <p>Qu'est-ce que le projet OnegAI ?</p>
    </div>
    <div class="row">
        <div class="col">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At commodi, consectetur expedita ipsam laborum porro repellat. Aspernatur ex expedita, harum hic inventore ipsum, minima minus nobis officia porro ut voluptatum. Aliquid amet aperiam beatae cupiditate, deleniti dignissimos dolorem doloribus dolorum eius ex explicabo facere harum illum itaque iusto labore laudantium minima minus nisi nobis praesentium quaerat quisquam quos rerum sapiente vel voluptate voluptates. Adipisci amet asperiores corporis cum dolore et fugit harum hic, in incidunt ipsam ipsum iure iusto maiores molestias natus nemo officiis provident quam quas qui quidem quod quos reiciendis repellat repellendus sed ut velit veniam veritatis</p>
        </div>
    </div>
    <div class="post-title">
        <p>Le bot</p>
    </div>
    <div class="row">
        <div class="col">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At commodi, consectetur expedita ipsam laborum porro repellat. Aspernatur ex expedita, harum hic inventore ipsum, minima minus nobis officia porro ut voluptatum. Aliquid amet aperiam beatae cupiditate, deleniti dignissimos dolorem doloribus dolorum eius ex explicabo facere harum illum itaque iusto labore laudantium minima minus nisi nobis praesentium quaerat quisquam quos rerum sapiente vel voluptate voluptates. Adipisci amet asperiores corporis cum dolore et fugit harum hic, in incidunt ipsam ipsum iure iusto maiores molestias natus nemo officiis provident quam quas qui quidem quod quos reiciendis repellat repellendus sed ut velit veniam veritatis</p>
            <p>Les technologies utilisées par le bot :</p>
            <div class="jumbotron jumbotronTechnologies d-flex justify-content-around bg-light mt-3 pb-1 pt-2">
                <img src="{{ asset('images/bot-technologies/logo_javascript_bnw.png') }}" alt="Logo JavaScript"/>
                <img src="{{ asset('images/bot-technologies/logo_jquery_bnw.png') }}" alt="Logo jQuery"/>
                <img src="{{ asset('images/bot-technologies/logo_es6_bnw.png') }}" alt="Logo ECMAScript 6"/>
                <img src="{{ asset('images/bot-technologies/logo_nodejs_bnw.png') }}" alt="Logo NodeJS"/>
                <img src="{{ asset('images/bot-technologies/logo_expressjs_bnw.png') }}" alt="Logo ExpressJS"/>
                <img src="{{ asset('images/bot-technologies/logo_mongodb_bnw.png') }}" alt="Logo MongoDB"/>
                <img src="{{ asset('images/bot-technologies/logo_nosql_bnw.png') }}" alt="Logo noSQL"/>
            </div>
            <div id="botTechnologiesText" class="d-flex justify-content-center">
                <div id="javascript" class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header">Technologie du bot</div>
                    <div class="card-body">
                        <h4 class="card-title">JavaScript</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, eveniet?</p>
                    </div>
                </div>
                <div id="jquery" class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header">Technologie du bot</div>
                    <div class="card-body">
                        <h4 class="card-title">jQuery</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, eveniet?</p>
                    </div>
                </div>
                <div id="es6" class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header">Technologie du bot</div>
                    <div class="card-body">
                        <h4 class="card-title">ECMAScript 6</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, eveniet?</p>
                    </div>
                </div>
                <div id="nodejs" class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header">Technologie du bot</div>
                    <div class="card-body">
                        <h4 class="card-title">NodeJS</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, eveniet?</p>
                    </div>
                </div>
                <div id="expressjs" class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header">Technologie du bot</div>
                    <div class="card-body">
                        <h4 class="card-title">ExpressJS</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, eveniet?</p>
                    </div>
                </div>
                <div id="mongodb" class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header">Technologie du bot</div>
                    <div class="card-body">
                        <h4 class="card-title">MongoDB</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, eveniet?</p>
                    </div>
                </div>
                <div id="nosql" class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header">Technologie du bot</div>
                    <div class="card-body">
                        <h4 class="card-title">noSQL</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, eveniet?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post-title">
        <p>Le site</p>
    </div>
    <div class="row">
        <div class="col">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At commodi, consectetur expedita ipsam laborum porro repellat. Aspernatur ex expedita, harum hic inventore ipsum, minima minus nobis officia porro ut voluptatum. Aliquid amet aperiam beatae cupiditate, deleniti dignissimos dolorem doloribus dolorum eius ex explicabo facere harum illum itaque iusto labore laudantium minima minus nisi nobis praesentium quaerat quisquam quos rerum sapiente vel voluptate voluptates. Adipisci amet asperiores corporis cum dolore et fugit harum hic, in incidunt ipsam ipsum iure iusto maiores molestias natus nemo officiis provident quam quas qui quidem quod quos reiciendis repellat repellendus sed ut velit veniam veritatis</p>
            <p>Les technologies utilisées par le site :</p>
            <div class="jumbotron jumbotronTechnologies d-flex justify-content-around bg-light mt-3 pb-1 pt-2">
                <img src="{{ asset('images/site-technologies/logo_symfony4_bnw.png') }}" alt="Logo Symfony 4"/>
                <img src="{{ asset('images/site-technologies/logo_doctrine_bnw.png') }}" alt="Logo Doctrine"/>
                <img src="{{ asset('images/site-technologies/logo_twig_bnw.png') }}" alt="Logo Twig"/>
                <img src="{{ asset('images/site-technologies/logo_php_bnw.png') }}" alt="Logo PHP 7"/>
                <img src="{{ asset('images/site-technologies/logo_sql_bnw.png') }}" alt="Logo SQL"/>
                <img src="{{ asset('images/site-technologies/logo_mysql_bnw.png') }}" alt="Logo MySQL"/>
                <img src="{{ asset('images/site-technologies/logo_bootstrap4_bnw.png') }}" alt="Logo Bootstrap 4"/>
            </div>
            <div id="siteTechnologiesText" class="d-flex justify-content-center">
                <div id="symfony4" class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header">Technologie du site</div>
                    <div class="card-body">
                        <h4 class="card-title">Symfony 4</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, eveniet?</p>
                    </div>
                </div>
                <div id="doctrine" class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header">Technologie du site</div>
                    <div class="card-body">
                        <h4 class="card-title">Doctrine</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, eveniet?</p>
                    </div>
                </div>
                <div id="twig" class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header">Technologie du site</div>
                    <div class="card-body">
                        <h4 class="card-title">Twig</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, eveniet?</p>
                    </div>
                </div>
                <div id="php" class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header">Technologie du site</div>
                    <div class="card-body">
                        <h4 class="card-title">PHP</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, eveniet?</p>
                    </div>
                </div>
                <div id="sql" class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header">Technologie du site</div>
                    <div class="card-body">
                        <h4 class="card-title">SQL</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, eveniet?</p>
                    </div>
                </div>
                <div id="mysql" class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header">Technologie du site</div>
                    <div class="card-body">
                        <h4 class="card-title">MySQL</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, eveniet?</p>
                    </div>
                </div>
                <div id="bootstrap4" class="card text-white bg-success mb-3" style="max-width: 20rem;">
                    <div class="card-header">Technologie du site</div>
                    <div class="card-body">
                        <h4 class="card-title">Bootstrap 4</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, eveniet?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post-title">
        <p>Participer au projet</p>
    </div>
    <div class="row">
        <div class="col">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At commodi, consectetur expedita ipsam laborum porro repellat. Aspernatur ex expedita, harum hic inventore ipsum, minima minus nobis officia porro ut voluptatum. Aliquid amet aperiam beatae cupiditate, deleniti dignissimos dolorem doloribus dolorum eius ex explicabo facere harum illum itaque iusto labore laudantium minima minus nisi nobis praesentium quaerat quisquam quos rerum sapiente vel voluptate voluptates. Adipisci amet asperiores corporis cum dolore et fugit harum hic, in incidunt ipsam ipsum iure iusto maiores molestias natus nemo officiis provident quam quas qui quidem quod quos reiciendis repellat repellendus sed ut velit veniam veritatis</p>
        </div>
    </div>
</div>
    
{% endblock %}

{% block javascripts %}
<script>
    const imageTarget = $('div.jumbotronTechnologies img');
    $('#botTechnologiesText>div').hide();
    $('#siteTechnologiesText>div').hide();

    imageTarget.mouseover(function() {
        this.src = this.src.replace("bnw", "color");
        const imageTargetText = this.src.split('logo_')[1].split('_')[0];
        $(`#${imageTargetText}`).show();
        imageTarget.mouseout(function() {
            this.src = this.src.replace("color", "bnw");
            $(`#${imageTargetText}`).hide();
        });
    });

</script>
{% endblock %}