{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    <div class="mt-4">
        <h1 class="display-3 text-center">OnegAI, bot Discord</h1>
        <p class="text-center"><small>Version actuelle : <span class="text-primary font-weight-bold">0.5.0</span></small></p>
        <p class="lead text-center mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Dignissimos harum modi neque possimus quod sed.</p>
        <p class="lead text-center mt-5">
            <a class="btn btn-success btn-lg mb-2 rounded-pill" href="{{ path('doc_index') }}" role="button">Documentation</a>
            <a class="btn btn-info btn-lg mb-2 rounded-pill"
               href="https://discordapp.com/oauth2/authorize?client_id=662240066084798474&permissions=0&scope=bot"
               role="button" target="_blank"><span class="fab fa-discord mr-2"></span>Inviter onegAI</a>
        </p>
    </div>

    <h2 class="h1 mt-5 mb-5">Derniers articles :</h2>

    <div class="row">
        {% for lastPost in lastPosts %}
        <div class="col-md-4">
            <div class="card bg-secondary mb-3">
                <a href="{{ path('posts_show', { 'slug': lastPost.slug }) }}">
                    <img src="{{ lastPost.image }}" alt="Image de l'article"
                         style="height: 200px; width: 100%; display: block">
                </a>

                <div class="card-body">
                    <h4 class="card-title">
                        <a href="{{ path('posts_show', { 'slug': lastPost.slug }) }}">{{ lastPost.title }}</a>
                    </h4>
                    <p class="card-text">
                        {{ lastPost.introduction }}
                    </p>
                    <a href="{{ path('posts_show', { 'slug': lastPost.slug }) }}" class="btn btn-outline-info">En savoir plus !</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}