{% extends 'base.html.twig' %}

{% block title %}Modification d'une entrée de la documentation{% endblock %}

{% block body %}
    <div class="container">

        <h1>Modification de l'entrée "{{ entry.command }}".</h1>

        {{ form_start(docForm) }}

        {{ form_row(docForm.command) }}

        <div class="form-group">
            {{ form_label(docForm.syntax) }}
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">o*</span>
                </div>
                {{ form_widget(docForm.syntax) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(docForm.shortcut) }}
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">o*</span>
                </div>
                {{ form_widget(docForm.shortcut) }}
            </div>
        </div>

        {{ form_row(docForm.description) }}

        {{ form_row(docForm.example) }}

        {{ form_row(docForm.category) }}

        {{ form_row(docForm.wip) }}

        <button type="submit" class="btn btn-outline-primary">
            Modifier l'entrée
        </button>
        <div class="text-right">
            <a href="{{ path('doc_delete', {'id': entry.id }) }}" class=" btn btn-danger adminButton rounded-pill"
               onclick="return confirm(`Êtes-vous sûr de vouloir supprimer l'entrée {{ entry.command }} ?`)">Supprimer l'entrée</a>
        </div>
        {{ form_end(docForm) }}

    </div>
{% endblock %}