{% extends 'base.html.twig' %}

{% block title %}La documentation d'OnegAI{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron mt-3 pb-1 pt-2">
        <div id="docJumbotron">
            <h1>Sommaire :</h1>
            <ul>
                {% set catCheck = '' %}
                {% for entry in entries %}
                    {% set ec = entry.category %}
                    {% if catCheck != ec.name %}
                        {% if not loop.first %}</ul>{% endif %}
                        <li><a href="#category{{ ec.id }}">{{ ec.name }}</a>
                            {% if app.user %}
                                <a href="{{ path('cat_edit', {'id': ec.id}) }}"><span class="far fa-edit adminIcon"></span></a>
                            {% endif %}
                        </li>
                        {% set catCheck = ec.name %}
                        <ul>
                    {% endif %}
                        <li><a href="#entry{{ entry.id }}">{{ entry.command | capitalize }}</a>
                            {% if app.user %}
                                <a href="{{ path('doc_edit', {'id': entry.id}) }}"><span class="fas fa-edit adminIcon"></span></a>
                            {% endif %}
                        </li>
                {% endfor %}
            </ul>
            <p id="wipLegendText" class="text-right"><span class="fas fa-robot mr-1" style="color: orange"></span>Fonctionnalité en cours d'implémentation<br />
            <span class="fas fa-robot mr-1" style="color: cyan"></span>Fonctionnalité disponible</p>
        </div>
    </div>
</div>

<div class="container">
    {% set catCheck = '' %}
    {% for entry in entries %}
        {% set ec = entry.category %}
        {% if catCheck != ec.name %}
            {% if not loop.first %}<div class="myLine"></div>{% endif %}
            <p id="category{{ ec.id }}" class="h1 text-center">{{ ec.name }}
                {% if app.user %}
                    <a href="{{ path('cat_edit', {'id': ec.id}) }}"><span class="far fa-edit adminIcon"></span></a>
                {% endif %}
            </p>
            <p>{{ ec.description }}</p>
            {% set catCheck = ec.name %}
        {% endif %}
        <div id="entry{{ entry.id }}" class="container paragraph">
            <div class="row">
                <span class="headerParagraph col">
                    <span class="commandName">{{ entry.command | capitalize }}</span>
                    <span class="fas fa-robot ml-3" style="color: {% if entry.wip %}orange{% else %}cyan{% endif %}" title="{% if entry.wip %}WIP{% else %}WORKING{% endif %}"></span>
                    {% if app.user %}
                        <a href="{{ path('doc_edit', {'id': entry.id}) }}"><span class="fas fa-edit adminIcon"></span></a>
                    {% endif %}
                </span>
            </div>
            <div class="myLineCommand"></div>
            <div class="row">
                <span class="syntax text-center col-6"><span class="highlightedText"><strong>Syntaxe : </strong>{{ entry.syntax }}</span></span>
                <span class="syntaxShortcut text-center col-6"><span class="highlightedText"><strong>Raccourci : </strong>{{ entry.shortcut }}</span></span>
            </div>
            <div class="row">
                <span class="commandDescription col">
                <strong>Description :</strong> {{ entry.description | raw }}
                </span>
            </div>
            <div class="row">
                <span class="commandExample col"><strong>Exemple :</strong> <span>{{ entry.example }}</span></span>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}